<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-default"><span class="sr-only">Toggle navigation</span><img src="{{root}}assets/img/menu-icon.png" alt="menu-icon" class="menu-icon"></button>
      <a class="navbar-brand" href="#"><a href="{{root}}index.html"><img src="{{root}}assets/img/images/Logo.png" alt="logo" class="logo"></a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Page Styles<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Left Sidebar</a></li>
            <li><a href="#">Right Sidebar</a></li>
            <li><a href="#">Full Width</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>