@charset 'UTF-8';

/*
 * Start
 * Main Style
*/

@import 'settings';

/** Add your own custom styles here **/

#sidebar-wrapper {
    top: 50px;
}

.btn-hollow {
    padding: .6em;
    border: 2px solid#0074aa;
    background: transparent;
}

.btn-hollow:hover {
    border: 2px solid #000;
    box-shadow: 0 0 5px #0074aa;
    color: #000;
}

#intro {
    position: absolute;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .intro-title {
        color: #fff;
        h1 {
            font-size: 72px;
            font-weight: 200;
            padding-bottom: .3em;
        }
        p {
            font-size: 2.5em;
            font-weight: 300;
        }
    }
}

.down-arrow {
    position: absolute!important;
    top: 95vh;
}

@media (max-width: 750px) {
    footer {
        text-align: center!important;
        padding: 1em;
        h3 {}
        ul {
            align-self: center;
        }
    }
    .navbar {
        background: #222;
        a {
            color: #999;
        }
    }
    .icon-bar {
        background-color: #fff!important;
    }
}