@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background $transition-time $transition-style, padding $transition-time $transition-style;
        -moz-transition: background $transition-time $transition-style, padding $transition-time $transition-style;
        transition: background $transition-time $transition-style, padding $transition-time $transition-style;
    }
    .top-nav-collapse {
        padding: 0;
    }
    .navbar a {
        font-weight: 900;
    }
}