<div class="container">
  <div class="row text-center">
    <div id="services">
      <h2>Our Services
      </h2>
    <div class="col-sm-6">
      <h3>Web Design &amp; Development</h3>
      <p>Using the latest in web development and design tools, tricks, and techniques, we code custom, responsive, and usable web and mobile applications.</p>
      
    </div>
    <div class="col-sm-6">
      <h3>WordPress Theme Development</h3>
      <p>Using the latest in web development and design tools, tricks, and techniques, we code custom, responsive, and usable web and mobile applications.</p>
    </div>
    <div class="col-sm-6">
      <h3>Web Design &amp; Development</h3>
      <p>Using the latest in web development and design tools, tricks, and techniques, we code custom, responsive, and usable web and mobile applications.</p>
      </div>
      
    <div class="col-sm-6">
      <h3>Web Design &amp; Development</h3>
      <p>Using the latest in web development and design tools, tricks, and techniques, we code custom, responsive, and usable web and mobile applications.</p>
      </div>
      
      
    </div>
  </div>
</div>