<!-- About Section -->
<section id="about" class="about-section">
  <div class="container">
      <div class="row">

            <h1 class="text-center">About This Template
            <small class="subtitle">You Will Love It</small></h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor officia, velit repudiandae numquam, at, dolore earum consequatur dignissimos cum amet iure! Quo quam hic maiores atque fuga corporis, reiciendis a!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa odit provident, quod voluptatibus, facere sunt. Sapiente libero itaque rem quod ut quibusdam molestiae placeat ducimus nisi minima temporibus, neque excepturi.</p>
          </div>
        </div>
    </div>
</section>
