<!-- Features Section -->
<section id="features" class="features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
        <div class="text-center">
          <img src="http://unsplash.it/600/600?random" alt="Rounded Image" class="img-rounded img-responsive">
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <h1 class="text-center">Features
          <small class="subtitle">All The Latest</small></h1>
        <hr>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor officia, velit repudiandae numquam, at, dolore earum
          consequatur dignissimos cum amet iure! Quo quam hic maiores atque fuga corporis, reiciendis a!</p>
<hr>
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor officia, velit repudiandae numquam, at, dolore earum
          consequatur dignissimos cum amet iure! Quo quam hic maiores atque fuga corporis, reiciendis a!</p>
        
      </div>
    </div>
  </div>
</section>