<section id="portfolio" class="portfolio">
            <div class="project-wrapper">
              <div class="header text-center">
                  <h2>Portfolio</h2>
              </div>
              {{#repeat 6}} <!-- use the repeat handlebars to scaffold repeating code -->
                <div class="col-md-6 col-xs-12 project">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="http://unsplash.it/600?random">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h3>Project Title</h3>
                            <p>For this project we used html, css, and javascript.</p>
                            <a href="#" class="btn btn-primary">See Project</a>
                        </div>
                    </div>
                </div>
                {{/repeat }}<!-- close out the repeat -->
            </div>
            <!-- /.project-wrapper -->
        </section>