<!-- Posts Section -->
<section id="posts" class="posts-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Posts Section</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/img/product01.jpg" />
                    <div class="card-block">
                        <h4 class="card-title">Post Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea enim officiis quam quae facilis
                            debitis rem fugit cupiditate assumenda doloribus mollitia, dolorem ratione quia iusto, vitae,
                            iste necessitatibus et!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/img/product02.jpg" />
                    <div class="card-block">
                        <h4 class="card-title">Post Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea enim officiis quam quae facilis
                            debitis rem fugit cupiditate assumenda doloribus mollitia, dolorem ratione quia iusto, vitae,
                            iste necessitatibus et!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/img/product03.jpg" />
                    <div class="card-block">
                        <h4 class="card-title">Post Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea enim officiis quam quae facilis
                            debitis rem fugit cupiditate assumenda doloribus mollitia, dolorem ratione quia iusto, vitae,
                            iste necessitatibus et!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/img/product04.jpg" />
                    <div class="card-block">
                        <h4 class="card-title">Post Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea enim officiis quam quae facilis
                            debitis rem fugit cupiditate assumenda doloribus mollitia, dolorem ratione quia iusto, vitae,
                            iste necessitatibus et!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>