// ******************* SECTIONS ********************//
// Intro
.features-section,
.about-section,
.services-section,
.posts-section,
.contact-section {
    min-height: 40%!important;
    padding: 4em 0 3em;
    h1 {
        text-align: center;
    }
}

// Features
.features-section {
    background: #ccc;
}

// About
.about-section {}

// Services
.services-section {
    background: #ccc;
}

// Posts
.posts-section {}

// Contact
.contact-section {
    background: #ccc;
}