<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="{{#if pagedescription}}{{pagedescription}}{{/if}}">
    <meta name="author" content="{{#if author}}{{author}}{{/if}}">

    <title>{{#if pagetitle}}{{pagetitle}} | {{/if}}{{sitename}}</title>

    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body id="page-top">
  
    {{>video-bg}}

    {{> nav }}

    {{> body }}

    {{> footer }}
    
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/jquery.easing.js"></script>
    <script src="assets/js/vendor/scrolling.nav.js"></script>
    <script src="assets/js/vendor/bootstrap.js"></script>
    <script src="assets/js/vendor/gsd.js"></script>
    <script src="assets/js/main.js"></script>


</body>
</html>
